<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="typography md">
      <h1>Navigation</h1>
      <h2>Global navigation</h2>
      <p>The items in the header include a list of pages that allow you to view global content throughout GitLab. For example, you can view your todos, issues, and merge requests across projects and groups. You can also create new groups and projects, as well as search the application.</p>
      <p class="todo">Add global navigation example</p>
      <h2>Contextual navigation</h2>
      <p>The left-side sidebar consists of content that is contextual to each page. These options change depending on if you are looking at a project, group, or settings page. There can be up to two levels of navigation. Each sub nav group should be a self-contained group of functionality. For example, everything related to the issue tracker should be under the 'Issue' tab, while everything relating to the wiki will be grouped under the 'Wiki' tab. The names used for each section should be short and easy to remember, ideally 1-2 words in length.</p>
      <p class="todo">Add contextual navigation example</p>
    </div>
  </div>
</template>
