<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="accessibility md">
      <h1>GitLab Accessibility Statement</h1>
      <p>GitLab is committed to maintaining an accessible product to the widest possible audience. We are actively working to increase the accessibility and usability of our product.</p>
      <p>GitLab is conformant with the <a href="/usability/vpat">Voluntary Product Accessibility Template (VPAT) 2.2</a> conducted December, 2018. This assessment aligns with the GitLab Enterprise Edition Premium version 11.6. For GitLab.com, this only includes the SaaS product and not other pages found on the GitLab.com domain.</p>
      <p>We aim to conform to level AA of the World Wide Web Consortium (W3C) <a 
        href="https://www.w3.org/TR/WCAG21/" 
        target="_blank"
      >Web Content Accessibility Guidelines 2.1</a>. The product has been built using code compliant with W3C standards for HTML and CSS.</p>
      <p>GitLab strives to be compliant to the accepted standards and guidelines for accessibility. Should you experience any issues of concern, please help us by <a 
        href="https://gitlab.com/gitlab-org/gitlab-ce/issues/new?issue" 
        target="_blank"
      >filing an issue</a>.</p>
    </div>
  </div>
</template>
