<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="contributing md">
      <h1>Contributing</h1>
      <p>Thank you for your interest in contributing to the GitLab Design System! We welcome all feedback regarding designs, guidelines, and implementation. The following details how to contribute in an easy and efficient way.</p>

      <h2>Contribute an issue</h2>
      <p>If you an interested in contributing to our design system, the first step is ensuring that an issue exists in our <a 
        href="https://gitlab.com/gitlab-org/design.gitlab.com/issues" 
        target="_blank"
      >issue tracker</a>. There are many applications that an issue can have, including:</p>
      <ul>
        <li>Submitting feature proposals</li>
        <li>Asking questions</li>
        <li>Reporting bugs and malfunctions</li>
        <li>Obtaining support</li>
        <li>Enhancing code implementations</li>
      </ul>
      <p>If you were unable to find a related issue in our <a 
        href="https://gitlab.com/gitlab-org/design.gitlab.com/issues" 
        target="_blank"
      >issue tracker</a>, begin by <a 
        href="https://gitlab.com/gitlab-org/design.gitlab.com/issues/new" 
        target="_blank"
      >creating a new one</a>. Creating an issue for each change allows us to easily track all proposals in one place. For changes that affect visual designs or user experiences, it can be helpful to include a mockup.</p>
      <h3>UX proposals</h3>
      <p>If your proposal involves a new guideline or UX paradigm, ping a <a 
        href="https://about.gitlab.com/handbook/engineering/projects/#design.gitlab.com" 
        target="_blank"
      >UX reviewer or maintainer</a> to review and provide feedback.</p>
      <h3>Frontend proposals</h3>
      <p>If your proposal involves a change to the frontend implementation, ping a <a 
        href="https://about.gitlab.com/handbook/engineering/projects/#design.gitlab.com" 
        target="_blank"
      >frontend reviewer or maintainer</a> to review and provide feedback.</p>

      <h2>Contribute a merge request</h2>
      <p>To make changes within our Design System, follow these instructions:</p>
      <ol>
        <li>Choose an issue to work on. If one does not exist, please review the contribution guidelines regarding creating a new one. This opens the conversation and allows feedback to happen early, preventing risks such as duplicated or unnecessary work. It can be helpful to comment in the issue to verify that no one is working on it and that the issue is still relevant.</li>
        <li>Fork <a 
          href="https://gitlab.com/gitlab-org/design.gitlab.com" 
          target="_blank"
        >this project</a>.</li>
        <li>Make changes reflecting the issue you’ve chosen to work on.</li>
        <li>Create a merge request. The earlier you open a merge request, the sooner you can get feedback. You can mark it as a Work in Progress to signal that you’re not done yet.</li>
        <li>Get your merge request approved. If your changes involved a new guideline or UX paradigm, then ping a <a 
          href="https://about.gitlab.com/handbook/engineering/projects/#design.gitlab.com" 
          target="_blank"
        >UX reviewer or maintainer</a> to approve your changes. If your changes involve an update to frontend implementation, ping a <a 
          href="https://about.gitlab.com/handbook/engineering/projects/#design.gitlab.com" 
          target="_blank"
        >frontend reviewer or maintainer</a> to approve. Some merge requests will require both a UX and frontend approver.</li>
        <li>Get your changes merged! After the necessary approvals have been added, a UX or frontend maintainer can then merge your merge request. 🙌</li>
      </ol>
    </div>
  </div>
</template>
